Package: com.stone.v16finalrequesttrace
Name: V16 Final Request Trace
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Final NSURLSession request diagnostics for com.LiveAudience
Maintainer: local
Author: local
Section: Tweaks
